body{

    background-color: rgb(184, 184, 184);
}

#title{

    text-align: center;
    margin-right: 500px;
    margin-left: 500px;
    background-color: black;
    color: lightseagreen;
}
.menu{

    margin-right: 1100px;
    
    background-color: black;
    color:rgb(15, 185, 228);
}


.informacao{
    font-size: 20px;
    text-align: center;
}

#espeto{

    position: absolute;
    width: 300px;
    left: 110px;
    top: 66%;
    margin-left: 150px;
    margin-top: -185px;
}

.tamanho{

    font-size: 19px;
}